*{
    margin:0;
    padding:0;
    color:white;
}
#navbar {
    background-color: black;
    height: 60px;
    
}
button{
    background-color:#f08804;
}

a{
    margin-right:200px ;
}
#logo{
    font-size:25px;
} 