h1{
    color:red;
}
button{
    color:brown
}
body{
    background-color: black;
    /* background-color: #ffff00; */
}
#one{
    color:pink;
}
#two2{
    color:white;
}
.rahul{
    font-style: italic;
}