div{
    height: 100px;
    width: 100px;
    background-color: red;
    border:2px solid black;
    display: inline-block;
}
#box1{
    /* position:absolute; */
    /* position:absolute; */
    /* position:fixed;
    right: 40px; */
    /* position:fixed;
    top:0px; */
}