#box1{
   background-color: red;
   height: 100px;
   width: 100px;
   display: flex;

   justify-content: center;
   align-items: center;

    
}
#box2{
background-color: green;
height: 50px;
width: 50px;
}